    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top zhadow" id="mainNav">
        <div class="container">
          <a class="navbar-brand" href="/"><img width="30" height="30" src="/img/icon.png" alt="{{.Title}}">{{$.Site.Title}}</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              {{ $currentPage := . }}
              {{ range .Site.Menus.main }}
                  {{ if .HasChildren }}
              <li class="nav-item dropdown {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ .Pre }}
                    <span>{{ .Name }}</span>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      {{ range .Children }}
                      <a class="dropdown-item {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
                    </div>
              </li>
              {{ end }} 
            </ul>
            {{ else }}
              <li class="nav-item">
                <a class="nav-link" href="{{ .URL }}">
                    {{ .Pre }}
                    <span>{{ .Name }}</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">Tentang</a>
              </li>
            </ul>
            {{ end }}
        {{ end }}
          </div>
        </div>
      </nav>