
    <header class="masthead" {{ if .Params.pimage }}style="background-image: url('{{ .Params.pimage }}')"{{ end }}>
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>{{ .Title }}</h1>
              {{ if .Description }}<span class="subheading">{{ .Description }}</span>{{ end }}
            </div>
          </div>
        </div>
      </div>
    </header>