<header>
    <div class="jumbotron jumbotron-fluid text-white frost">
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <h1 class="display-3 mt-5">{{ .Title }}</h1>
                    <p class="lead">{{ .Description }}</p>
                </div>
            </div>
        </div>
    </div>
</header>