<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {{ $paginator := .Paginate (where .Data.Pages "Type" "post") 6 }} {{ range $paginator.Pages }}
      <div class="post-preview">
        <a href="{{ .RelPermalink }}">
          <h2 class="post-title text-capitalize">
            {{ .Title }}
          </h2>
        </a>
        <a href="{{ .RelPermalink }}"><img width="100%" class="img-fluid zhadow" src='{{ if eq .Params.pimage "" }}/img/clear-sky.jpg{{else}}{{ .Params.pimage }}{{end}}' alt="{{ .Title }}"></a>
        <h3 class="post-subtitle">
          {{ .Description }}
        </h3>

        <p class="post-meta">Posted by
          <a href="{{ .Site.Params.author_homepage}}">{{ .Site.Params.author }}</a> on {{ .Date.Format "2 Jan, 2006" }}</p>
      </div>
      <hr> {{ end }}
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="mx-auto">
      {{ partial "pagination.html" . }}
    </div>
  </div>
</div>