{{ partial "head" . }}

{{ partial "anavbar" . }}

{{ partial "header" . }}

<article>
    <div class="container zhadow">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto mt-3">
                {{ .Content }}
            </div>
        </div>
    </div>
</article>
<div class="container">
<div class="col-lg-8 col-md-10 mx-auto mt-3">
    {{ template "_internal/disqus.html" . }}
</div>
</div>



{{ partial "footer" . }}