{{ partial "head" . }}

{{ partial "anavbar" . }}

{{ partial "header-2" . }}

<article>
    <div class="container zhadow">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto mt-3">
                {{ .Content }}
            </div>
        </div>
    </div>
</article>



{{ partial "footer" . }}