{{ partial "head" . }}


<header class="masthead" style="background-image: url('https://source.unsplash.com/random/1366x768')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1 class="text-capitalize">{{ .Title }}</h1>
                    <a class="btn btn-outline-warning" href="/"><i class="fa fa-arrow-left" aria-hidden="true"></i> back to home</a>
                </div>
            </div>
        </div>
    </div>
</header>

{{ partial "footer" . }}